/* CSS */
.easy_faq{
    padding: 10px;
	margin: 10px auto;
}

.easy-faq-title {
    border-bottom: 1px solid #D3D3D3;
    font-weight: bold;
    margin-bottom: 12px;
    padding-bottom: 3px;
    text-decoration: none;
	cursor: pointer;
	cursor: hand;
}

.easy_faq .attachment-easy_faq_thumb{
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 0 10px 10px 0;
}


.easy-faq .easy-faq-body {
	margin-bottom: 35px;
}

.easy_faq .easy-faq-body p {
    width: 100%;
}

.easy_faq .easy-faq-body p a {
}

.easy_faq p a:hover{
}

.widgets .easy_faq{
	margin: 5px auto;
}